<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-tw">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>example for w-ckeditor-vue</title>

    <!-- ckeditor5 23.0.0 -->
    <script src="../dist/ckeditor.js"></script>

    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>

    <!-- w-ckeditor-vue -->
    <script src="../dist/w-ckeditor-vue.umd.js"></script>

</head>
<body style="font-family:'Microsoft JhengHei','Avenir','Helvetica'; margin:0px; padding:0px;">

    <div id="app">

        <div style="margin:20px;">
            <div>1. bind height ({{height}}px)</div>
            <div>
                <button type="button" @click="height=150">set height to 150px</button>
                <button type="button" @click="height=200">set height to 200px</button>
            </div>
            <w-ckeditor-vue
                :height="height"
                v-model="content"
            ></w-ckeditor-vue>
        </div>
        
        <div style="margin:20px;">
            <div>2. sync content</div>
            <w-ckeditor-vue
                :height="200"
                v-model="content"
            ></w-ckeditor-vue>
        </div>
        
        <div style="margin:20px;">
            <div>3. settings</div>
            <w-ckeditor-vue
                :settings="settings"
                v-model="content"
            ></w-ckeditor-vue>
        </div>
        
    </div>

    <script>

        //install w-ckeditor-vue
        Vue.component('w-ckeditor-vue',window['w-ckeditor-vue'])

        //initialize
        new Vue({
            el: '#app',
            data: {
                content: 'abc中文123',
                height: 200,
                settings:  {
                    language: 'zh',
                    toolbar: {
                        items: [
                            'heading',
                            '|',
                            'fontSize',
                            'fontColor',
                            'fontBackgroundColor',
                            '|',
                            'bold',
                            'italic',
                            'underline',
                            'strikethrough',
                            '|',
                            'subscript',
                            'superscript',
                            '|',
                            'alignment',
                            'bulletedList',
                            'numberedList',
                            '|',
                            'redo',
                            'undo',
                            '|',
                            'removeFormat'
                        ]
                    },
                },
            },
            // mounted: function() {
            //     let vo=this
            //     let h=vo.height
            //     let t=setInterval(function(){
            //         vo.height-=2
            //         if(vo.height<=200){
            //             vo.height=h
            //             clearInterval(t)
            //         }
            //     },50)
            // },
        })

    </script>

</body>
</html>